/* 	Basketball Digital Board style.css file
/*	A project by LIA - Advanced Interaction Laboratory
/*	Authors:	Yago Arroyo Gonçalves
/*				George Pagliuso
*/

/* Small reset on margins and paddings */
* {
	margin: 0;
	padding: 0;
}

/* Disabled class */
.disabled {
	opacity: 0.3;
}

/* Application container */

#container {
	background: url('../img/background.png');
	width: 1280px;
	height: 752px;
}

/* Court canvas */

#court {
	padding-top: 14px;
	margin-left: 12px;
}

/* Move button */

#mover {
	position: absolute;
	margin-top: 15px;
	margin-left: 11px;
	width: 30px;
	height: 30px;
	background: url('../img/mover.png');
}

/* Saved tactics menu */

#saved-tactics {
	float: right;
	margin-top: 15px;
	margin-right: 9px;
	width: 159px;
	height: 720px;
}

/* Options menu */

#menu {
	margin-top: 12px;
	margin-left: 13px;
	padding: 0 33px;
	width: 995px;
	height: 93px;
}

.button {
	float: left;
	margin-left: 15px;
	width: 88px;
	height: 88px;
	background: url('../img/button.png');
}

.active {
	background: url('../img/button-act.png');
}

.spacer {
	float: left;
	background: url('../img/divider.png') center no-repeat;
	height: 73px;
	width: 2px;
	margin: 6px 20px 0 35px;
}

/* Info balloons */

#info-balloons {
	position: absolute;
	width: 0px;
	height: 0px;
}

#balloon-save-open {
	position: absolute;
	background: url('../img/info/save-open.png');
	width: 282px;
	height: 234px;
	margin-left: 830px;
	margin-top: 20px;
}

#balloon-delete {
	position: absolute;
	background: url('../img/info/delete.png');
	width: 272px;
	height: 132px;
	margin-left: 70px;
	margin-top: 515px;
}

#balloon-info-help {
	position: absolute;
	background: url('../img/info/info-help.png');
	width: 272px;
	height: 98px;
	margin-left: 790px;
	margin-top: 550px;
}